.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
  color: blue;
}
.input {
  width: 300px;
  height: 50px;
  font-size: large;
}
.output {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  max-height: 10rem;
}
li {
  list-style: none;
  display: inline;
}
.btn-emoji {
  padding: 0.5rem;
  border: none;
  background: none;
  font-size: xx-large;
  cursor: pointer;
}
